.cover {
  margin-top: 10px;
  max-width: 200px;
  border-radius: 50%;
}

.cover:hover {
  transition: 0.2s linear;
  opacity: 80%;
}

.cover-item {
  line-height: 1.75;
  visibility: hidden;
}

.cover-item.active {
  transition: 0.3s linear;
  visibility: visible;
}
